{% extends 'layout.html' %}

{% block content %}
  <fieldset>
    <legend>도메인 등록</legend>
    <form action="/domain" method="post">
      <div>
        <label for="type-free">무료</label>
        <input type="radio" id="type-free" name="type" value="free">
        <label for="type-premium">프리미엄</label>
        <input type="radio" id="type-premium" name="type" value="premium">
      </div>
      <div>
        <label for="host">도메인</label>
        <input type="text" id="host" name="host" placeholder="ex : zerocho.com" maxlength="80">
      </div>
      <button>저장</button>
    </form>
  </fieldset>
  <table>
    <tr>
      <th>도메인 주소</th>
      <th>타입</th>
      <th>클라이언트 비밀키</th>
    </tr>
    {% for domain in domains %}
    <tr>
      <td>{{domain.host}}</td>
      <td>{{domain.type}}</td>
      <td>{{domain.clientSecret}}</td>
    </tr>
    {% endfor %}
  </table>
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert(new URL(location.href).searchParams.get('error'));
      }
    };
  </script>
{% endblock %}