{% extends 'layout.html' %} 

{% block content %}

    <div class="timeline">
      {% if user %}
        <div>
          <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="twit" name="content" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div>
              <label id="img-label" for="img">사진 업로드</label>
              <input id="img" type="file" accept="image/*">
              <button id="twit-btn" type="submit" class="btn">업로드</button>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="twits">
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <button class="btn" id="btn_hash">검색</button>
        </form>
        {% for twit in twits %}
          <div class="twit">
            <!-- 게시글의 작성자 ID -->
            <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
            <!-- 게시글의 고유한 ID -->
            <input type="hidden" value="{{twit.id}}" class="twit-id">
            <input type="hidden" value="{{twit.recommend}}" class="twit-recommend-value">
            <input type="hidden" value="{{twit.content}}" class="twit-content-value">
            <div class="twit-author">{{twit.User.nick}}</div>
            <div class="twit-recommend" >공감:{{twit.recommend}}</div>
            <!-- 로그인 접근 권한 설정 -->
            {% if user %}
            <!-- 팔로잉 버튼 -->
              {% if not followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
                <button class="twit-follow">팔로우하기</button>
              {% endif %}
            <!-- 본인이 작성한 게시글이면/게시글의 고유 id가 아닌 게시글을 작성한 사용자 id로 판별. -->
              {% if twit.User.id == user.id %}
                  <button class="twit-update">수정</button>
                  <button class="twit-delete">삭제</button>
              {% else %}
            <!-- 본인이 작성한 게시글이 아니면 -->
                  <button class="twit-addrecommend">공감</button>
              {% endif %}
            {% endif %}
            <div class="twit-content">{{twit.content}}</div>
            {% if twit.img %}
              <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${Number(userId)}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });

    document.querySelectorAll('.twit-addrecommend').forEach(function(tag) {
      tag.addEventListener('click',function(){
        var addValue=1
        //게시글의 고유 id값을 저장
        const postId=tag.parentNode.querySelector('.twit-id').value
        const exNum=document.querySelector('.twit-recommend-value').value
        if (addValue && exNum < 50) {
          if (confirm('추천하시겠습니까?')) {
            axios.post(`/post/${postId}/recommend`)
              .then(()=>{
                location.reload()
              })
              .catch((err)=>{
                console.error(err)
              })
          }
        } else {
          alert('추천 가능한 수를 초과했습니다.')
        }
      })
    }
    )
    document.querySelectorAll('.twit-update').forEach(function(tag){
      tag.addEventListener('click',function(){
        const postId=tag.parentNode.querySelector('.twit-id').value
        let text=null
        text=prompt('텍스트를 입력하세요')
        while (!text) {
          text=prompt('텍스트를 입력하세요')
        }
        axios.post(`/post/${postId}/${text}/update`)
          .then(()=>{
            location.reload()
          })
          .catch((err)=>{
            console.error(err)
          })
        

      })
    })
    document.querySelectorAll('.twit-delete').forEach(function(tag){
      tag.addEventListener('click',function(){
        const postId=tag.parentNode.querySelector('.twit-id').value
        if (confirm('삭제하시겠습니까?')){
          axios.post(`/post/${postId}/delete`)
            .then(()=>{
              location.reload()
            })
            .catch((err)=>{
              console.error(err)
            })
          }

      })
    })
  </script>
{% endblock %}